import init.bt.vendor.rc

# Point on the right bt_vendor.conf at runtime
on property:ro.product.name=*
    setprop ro.bt.conf_file /system/etc/bluetooth/bt_${ro.hardware}.conf

on early-boot
    wait /factory/bt/bd_addr.conf 1
    chmod 0644 /factory/bt/bd_addr.conf
    chown bluetooth net_bt_stack ro.bt.bdaddr_path
    chmod 0220 /sys/module/bcmdhd/parameters/btc_mode
    chown bluetooth net_bt_stack /sys/module/bcmdhd/parameters/btc_mode

service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
    class main
    group bluetooth wifi system dhcp
    disabled
    oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    group bluetooth system dhcp
    disabled
    oneshot

on property:ro.product.model=K010E
    setprop ro.bt.bdaddr_path "/factory/bt/bd_addr.conf"

on property:ro.product.model=K013C
    setprop ro.bt.bdaddr_path "/factory/bt/bd_addr.conf"

on property:ro.product.model=K010
    setprop ro.bt.bdaddr_path "/config/bt/bd_addr.conf"

on property:ro.product.model=K011
    setprop ro.bt.bdaddr_path "/factory/PhoneInfodisk/bd_addr.conf"
    chmod 0660 /sys/class/tty/ttyMFD1/../../power/control
    chown system system /sys/class/tty/ttyMFD1/../../power/control

on property:ro.product.model=K013
    setprop ro.bt.bdaddr_path "/config/bt/bd_addr.conf"
    chmod 0660 /sys/class/tty/ttyMFD1/../../power/control
    chown system system /sys/class/tty/ttyMFD1/../../power/control
