on post-fs-data
    mkdir /data/gps 0770 gps system
    chown gps system /data/gps

on post-fs

service gpsd /system/bin/gpsd -c /system/etc/gps.xml
    class main
    user gps
    group system inet radio sdcard_rw net_admin
    disabled

service BrcmbtGpsService /system/bin/BrcmbtGps_service.sh
    disabled
    oneshot

service BrcmbtGpsChmod /system/bin/BrcmbtGps_chmod.sh
    disabled
    oneshot

service gps_apk_install /system/bin/gps_apk_install.sh
    class main
    user system
    group system gps
    disabled
    oneshot

service gps_apk_remove /system/bin/gps_apk_remove.sh
    class main
    user system
    group system gps
    disabled
    oneshot

# add a link for libgps.conf
on property:persist.gps.LogEnabled=0
    rm /data/gps/libgps.conf
    stop gps_apk_install
    start gps_apk_remove

on property:persist.gps.LogEnabled=1
    symlink /system/etc/libgps.conf /data/gps/libgps.conf
    stop gps_apk_remove
    start gps_apk_install
