# ASUS common settings

on init
    # make the mount point for partition ADF
    mkdir /ADF 0775 system system

on post-fs-data

    # create symlink to eMMC_total_size for AMAX user
    symlink /sys/devices/platform/80860F14:00/eMMC_total_size /data/data/emmc_total_size

    # Insert module for Tuxera (exFAT and NTFS)
    insmod /lib/modules/texfat.ko
    insmod /lib/modules/tntfs.ko

# start widevine service when boot up completed
on property:sys.boot_completed=1
    start widevine_install

# widevine install server
service widevine_install /system/bin/widevine_install
    user root
    group root
    disabled
    oneshot

on property:net.eth0.ip=*
    start net_eth0-start

service net_eth0-start /system/bin/sh /system/etc/init.net.eth0.sh
    class main
    disabled
    oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -ABDKL
    group system dhcp
    class main
    disabled
    oneshot

service iprenew_eth0 /system/bin/dhcpcd -n
    group system dhcp
    class main
    disabled
    oneshot

service normal_mode /system/bin/sh /system/etc/pwr-common.sh normal
    user root
    disabled
    oneshot

service balance_mode /system/bin/sh /system/etc/pwr-common.sh balance
    user root
    disabled
    oneshot

service browsing_mode /system/bin/sh /system/etc/pwr-common.sh browsing
    user root
    disabled
    oneshot

service video_mode /system/bin/sh /system/etc/pwr-common.sh video
    user root
    disabled
    oneshot

service saving_mode /system/bin/sh /system/etc/pwr-common.sh saving
    user root
    disabled
    oneshot

service asus-dbug-d /system/bin/asus-debugger-d
    disabled
on property:ril.asus_debugger_running=1
    start asus-dbug-d
on property:persist.radio.run_debugger=1
    start asus-dbug-d

on property:ro.carrier=wifi-only
stop mmgr
stop nvmmanager
setprop persist.ril-daemon.disable 1
setprop ro.radio.noril true
