import init.baytrail.rc

on init
    symlink /data/logs/ /logs

    # Enable SECONDARY_STORAGE in common
    export SECONDARY_STORAGE /Removable/MicroSD:/Removable/USBdisk1:/Removable/USBdisk2
    # ASUS Product Demo
    mkdir /APD 0775 system system
    mkdir /ADF 0775 system system

on fs
# ASUS Product Demo
    mount ext4 /dev/block/by-name/ADF /ADF noatime nosuid nodev barrier=1 data=ordered context=u:object_r:demoapp_file:s0
    chown system system /ADF
    chmod 0775 /ADF

# Make /ADF/boot Directory for customize boot animation
    mkdir /ADF/boot 0775 system system

on post-fs-data
    chmod 0775 /factory
    chown system system /factory
     # upi gauge
    asus_exec /system/bin/touch /config/upi_gg
    asus_exec /system/bin/touch /config/upi_bo
    chown system system /config/upi_gg
    chmod 0660 /config/upi_gg
    chown system system /config/upi_bo
    chmod 0664 /config/upi_bo
    chown system system /dev/ug31xx
    chmod 0660 /dev/ug31xx
    chown system system /sys/module/ug31xx_battery/parameters/op_options
# For AsusSplendid
    chown system system /d/dri/0/gamma_adjust
    chmod 0664 /d/dri/0/gamma_adjust
    chown system system /d/dri/0/gamma_enable
    chmod 0664 /d/dri/0/gamma_enable

on charger
    mkdir /config 0775 system system
    mount ext4 /dev/block/by-name/config /config rw noatime
    chown system system /dev/ug31xx
    chmod 0660 /dev/ug31xx
    start upi_ug31xx

service upi_ug31xx /sbin/upi_ug31xx
    class core
    seclabel u:r:upi_ug31xx:s0

service fuse_MicroSD /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/MicroSD /Removable/MicroSD
    class late_start
    disabled

service fuse_USBdisk1 /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/USBdisk1 /Removable/USBdisk1
    class late_start
    disabled

service fuse_USBdisk2 /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/USBdisk2 /Removable/USBdisk2
    class late_start
    disabled

service set_property /system/bin/set_property
    class main
    user root
    oneshot

# AKM daemon service
service akmd /system/bin/akmd09911 -m 5
    class main
    user system
    group system misc input

# ASUS Product Demo
on property:persist.sys.enableAPD=1
    mount ext4 /dev/block/by-name/APD /APD noatime nosuid nodev barrier=1 data=ordered context=u:object_r:demoapp_file:s0
    chown system system /APD
    chmod 0775 /APD

on property:persist.sys.enableAPD=0
    umount /APD

# add for suspend/resume test
service resumecheck /system/bin/sh /system/bin/suspendCheckTool.sh
    disabled
    oneshot
    user root
